<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cooltechworks.creditcarddesign">

    <application>

        <activity
            android:name="com.cooltechworks.creditcarddesign.CardEditActivity"
            android:label="@string/card_edit_activity"
            android:windowSoftInputMode="adjustResize" />

    </application>

</manifest>
